<div class="date">
	<div class="date-title .col-md-12">
    	<p>Mittwoch 02.12.2015</p>
    </div>
</div>

<div class="election">
          <p> Hallo <span><%= @current_user%></span> <%= @election %></p>
</div>
  
<div class="panel panel-default">
	<div class="panel-body">
    	<input type="checkbox" id="c1" name="cc" />
    	<label for="c1"><%=@option %></label>
    	<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
  	</div>
</div>

<div class="panel panel-default">
  	<div class="panel-body">
	    <input type="checkbox" id="c1" name="cc" />
	    <label for="c1"><%= @option %></label>
  	</div>
</div>

<div class="panel panel-default">
  	<div class="panel-body">
	    <input type="checkbox" id="c1" name="cc" />
	    <label for="c1"><%= @option %></label>
	</div>
</div>

<div class="panel panel-default">
  	<div class="panel-body">
	    <input type="checkbox" id="c1" name="cc" />
	    <label for="c1"><%= @option %></label>
  	</div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel">
        <div class="panel-heading" role="tab" id="headingOne">
            <p class="panel-title">
        		<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          			<span class="glyphicon glyphicon-plus-sign"></span>
          		</a>
    			<label for="c1">Vorschlag Eintragen</label>
      		</p>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <form action="option">
                	<p class="cook">
						<input type="radio" name="eat" value="cook"> Ich möchte kochen...
					</p>
					
					<p class="restaurant">
						<input type="radio" name="eat" value="restaurant"> Ich möchte hier Essen gehen...
					</p>
				</form>
				<br>
				<br>

				<div class="panel panel-default-" id="dish">
				  	<div class="panel-body">
						<p class="input-title"><b>GERICHT</b></p>
						<input class="trans" type="text" name="fname">
				  	</div>
				</div>
				<br>
				<div class="panel panel-default-" id="recipt">
				  	<div class="panel-body">
					    <p class="input-title"><b>URL ZUM REZEPT</b></p>
					    <input class="trans2" type="url" name="fname">
				  	</div>
				</div>
				<div class="keep-rest" id="bottom-option">
					<input type="checkbox" id="c1" name="cc" />
    				<label for="c1">Restaurant speichern</label>
				</div>

				<div class="cancel-ready" id="bottom-option">
					<a>abbrechen</a>
					<button type="button" class="btn btn-success"><b>Fertig</b></button>
				</div>
            </div>
        </div>
    </div>
</div>

<div class="abschicken">
<button type="button" class="btn btn-success"><b>Abschicken</b></button>
</div>


 

