<div class="date">
	<div class="date-title .col-md-12">
    	<p>Mittwoch 02.12.2015</p>
    </div>
</div>

<div class="election">
          <p> Hallo <span><%= @current_user%></span> <%= @election %></p>
      </div>
  

  <div class="panel panel-default">
  <div class="panel-body">
    <input type="checkbox" id="c1" name="cc" />
    <label for="c1"><%=@option %></label>
    <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <input type="checkbox" id="c1" name="cc" />
    <label for="c1"><%= @option %></label>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <input type="checkbox" id="c1" name="cc" />
    <label for="c1"><%= @option %></label>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <input type="checkbox" id="c1" name="cc" />
    <label for="c1"><%= @option %></label>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a>
    <label for="c1">Vorschlag Eintragen</label>
  </div>
</div>
<div class="abschicken">
<button type="button" class="btn btn-success"><b>Abschicken</b></button>
</div>

